.materias{
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;

}

.list-card{
  width: 100%;
  padding: 15px;
  border-radius: 4px;    
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 10px;
  cursor: pointer;
}

.list-card ul{
  list-style: none;
}

.list-card > li {
  float:left;
}

.list-card li a {
  text-decoration:none;
  display:block;
  color: black;
}

.list-card li:hover {
  /*background-color:whitesmoke;*/
}

.list-card li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.list-card li:hover > ul {
  display:contents;
}

.list-card li ul li {
  position:relative;
}

.list-card li ul li ul {
  right:-140px;
  top:0px;
}


.contenido{
  list-style: circle;
}

h6{
  display:inline;
}


.topic-content{
  display: none;
  width: 98%;
  background: white;
  overflow: auto;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-align: start;
  margin-top: 3px;
  margin-left: 15px;
  
}

.topic-content a{
  text-decoration: none;
  color: black;

}

.topic-content ul{
  list-style: none;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.topic-content li{
  display: flex;
  flex-direction: row;
  margin: 10px;
  
}

.content-title{
  font-weight: normal;
  padding-left: 15px;
}

