.topic-tag{
    display: inline;
    /*padding-left: 5px;*/
}
.topic-tag input{
    margin: 0px;
    margin-top: 20px;
    /*padding: 0%;*/
    /*width: 49.8%;*/
    width:43%;
    
}
.input-titulo{
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    margin: 0px;
    margin-top: 3px;
}

.editor{
    border-radius: 4px;
    border-style: solid;
    border-width: 3px;
    border-color: gainsboro;
    background-color: white;
    overflow: scroll;
    
    max-height: 500px;
    height: 100%;
    
}

.editor h1{
    color: black;
}
.editor h2{
    color: black;
}
.editor h3{
    color: black;
}
.editor h4{
    color: black;
}
.editor h5{
    color: black;
}
.editor h6{
    color: black;
}

.cdx-marker {
    background: rgb(238, 255, 0);
    padding: 3px 0;
}

.editor-conf{
    /*margin: 10px 20px;*/
    margin-top: 10px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.05);
}

.editor-conf ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.editor-conf ul li{
    display: flex;
    padding: 5px 15px;
    cursor: pointer;
    overflow: hidden;
  }

  .botones{
      text-align: center;
  }