p{
    text-decoration: none;
    font-size: 13px;
}

main{
    text-align: center;
}

.pantalla{
    display: none;
}
a{
    text-decoration: none;
    color: white;
}

body{
    position: relative;
    overflow: hidden;
  }
  
  header{
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
  
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
  
    color: white;
    padding: 15px;
    margin: 0 10%;
  }
  
  .nav{
    width: 40%;
    height: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav ul{
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: right;
    /*align-items: center;*/
  
    list-style: none;
    font-size: 20px;
  }
  
  .nav ul li{
    transition: all 0.3s;
  }
  
  .nav ul li:hover{
    cursor: pointer;
    text-decoration: underline !important;
    transform: scale(1.05);
  }
  
  main{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  
    width: 100%;
    height: 100%;
  }
  
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .box{
    width: 80%;
    height: 60%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  
  .login, .about, .faq, .contact{
    width: 50%;
  }
  
  .login input{
    width: 70%;
  }
  
  .login label{
    width: 50%;
  }
  
  .about p{
    font-size: 14px;
    font-weight: normal;
    font-family: 'Noto Sans', 'Roboto';
  
    text-align: justify;
    padding: 25px;
  }
  
  .intro, .administration{
    padding: 25px;
    width: 50%;
  }
  
  .faq{
    overflow-y: scroll;
    height: 60vh;
  }
  
  .faq article{
    font-size: 14px;
    text-align: justify;
  
    padding: 25px;
  }
  
  .faq article .question{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
  }
  
  .contact p{
    padding: 25px;
    font-size: 14px;
    text-align: center;
  }
  
  .contact p .email{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    width: 100%;
    margin: 15px;
  }
  
  .administration .admin{
    width: 80%;
    height: 100px;
    font-size: 16px;
  
    margin: 25px;
  
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
  
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 50px 0 0 50px;
  }
  
  .administration .admin .prof-pic{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .administration .admin span{
    display: inline-block;
    width: 70%;
    text-align: left;
  }
  