
main{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
}

main h1{
  width: 100%;
  margin: 20px 0 0px 0;
  text-align: center;
  font-size: 32px;
}

main .principal{
  padding: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .principal .chart{
  width: 40%;
  height: 240px;
}

main .gen-stats{
  width: 50%;
  margin: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row wrap;
}

main .gen-stats span{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin: 10px;
  font-size: 14px;
}

main .tops{
  width: 50%;
  padding: 25px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

main .tops h5{
  width: 60%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(80, 15, 187, 1);
}

main .tops ul{
  width: 100%;
  list-style: none;
  padding: 25px;
}

main .tops ul li{
  padding: 10px;
  font-size: 14px;
  border-left: 0px solid rgba(80, 15, 187, 1);
  transition: all 0.3s;
  cursor: pointer;
}

main .tops ul li:hover{
  border-left: 30px solid rgba(80, 15, 187, 1);
}

aside{
  width: 20%;
}

aside h5{
  margin: 30px 0 25px 0;
  font-size: 15px;
  text-align: center;
}

aside .notice{
  width: 90%;
  margin-top: 40px;
}

aside .notice .adds{
  width: 100%;
  min-height: 40px;
  margin: 5px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.05);

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

aside .notice .adds .icon{
  padding: 20px 0 20px 10px;
  width: 15%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

aside .notice .adds .icon i{
  font-size: 20px;
}

aside .notice .adds div{
  width: 85%;
  padding: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

aside .notice .adds div .title{
  padding: 2px;
  width: 100%;
  line-height: 12px;
}

aside .notice .adds .date{
  padding: 2px;
  width: 100%;
}

aside .recomends{
  width: 90%;
  margin-top: 20px;
}

aside .recomends .recomendation{
  cursor: pointer;
  width: 100%;
  min-height: 40px;
  margin: 5px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.05);

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

aside .recomends .recomendation .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.75);
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .recomends .recomendation .icon i{
  color: white;
  padding: 10px 0 0 0;
  font-size: 20px;
}

aside .recomends .recomendation .icon span{
  color: white;
  font-size: 12px;
}

aside .recomends .recomendation .icon span i{
  color: gold;
  font-size: 12px;
}

aside .recomends .recomendation .data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 80%;
}

aside .recomends .recomendation .data .title{
  display: inline-block;
  text-align: center;
  padding: 5px;
  width: 100%;
  line-height: 14px;
  color: rgba(15, 54, 187, 1);
}

aside .recomends .recomendation .data .subject{
  display: inline-block;
  text-align: center;
  width: 100%;
  line-height: 12px;
  color: rgba(80, 15, 187, 1);
}
