body{
  text-align: center;
}
header{
  width: 100%;
  height: 75px !important;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  padding: 0 2%;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

main{
  position: relative;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

  width: 100%;
  height: 100%;
}

.terms {
  overflow-y: scroll;
  height: 60vh;
  width: 75%;
  align-self: center;
}

.terms article{
  font-size: 14px;
  text-align: justify;
  padding: 25px;
}

.head-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  font-size: 24px;
  padding: 3px;
  color: white;
  background: transparent;
  border: 0;
  transition: all 0.2s;
  cursor: pointer;
}

.head-btn:hover{
  width: 200px;
}