body{
  overflow-x: hidden;
}

h1{
    text-align: center;
}

main{
  width: 75% !important;
}

.lista{
  width: 100%;
	display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin: 25px;
}

.card{
    width: 100%;
    margin: 5px auto;
}

.card ul{
    list-style: none;
    margin-top: 10px;
    margin-left: 10px;
}

.card h3{
  padding: 10px 50px 10px 5px;
  border-left: 0px solid #F0F0F0;
  border-bottom: 5px solid #F0F0F0;
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  cursor: pointer;
}

.card ul{
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.card ul li{
  width: 24%;
  height: 100px;
  margin: 0.5%;
  display: flex;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 5px;
  position: relative;
}

.card ul li .solicitudes{
  width: 100%;
  font-size: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card ul li i{
  font-size: 24px;
  margin: 0; padding: 0;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

aside{
  width: 25%;
  padding: 25px;
}

aside form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

aside h2{
  text-align: center;
  font-size: 24px;
}

aside label{
  padding: 5px;
  width: 100%;
  text-align: center;
}

aside input{
  width: 100%;
}

aside p{
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
}

aside button{
  margin: 5px auto !important;
}
